
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.testimonials{
    background: #EBF3FF;
    width: 100%;
    
}
.testimonial-container{
    padding: 1rem;
    max-width: 1280px;
    margin-inline: auto;
    display: grid;
    min-height: 400px;
    justify-content: space-between;
}
.testimonial-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;

}
.icon-left,.icon-right{
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: white;
    color: #EBF3FF;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    display: none;

}
.icon-right{
    top: 49%;
    right: 1rem;
}
.icon-left{
    top: 49%;
    left: 1rem;
    z-index: 1000;
}
.testimonial-text-container{
    display: flex;
    
    /* grid-template-columns: 100% 100% 100%;  */
     transition: transform 0.4s ease;
     width: 100%;
     max-width: 100%;
     position: relative;
     overflow: hidden;
      user-select: none;

}
.testimonial-text{
     /* position: absolute; */
    color: #2f2f2f;
    text-align: center;
    width: 100%;
    min-width: 100%;
    flex-shrink: 0;
    padding: 0 2.5rem;
    transition: transform 0.5s ease;
    
}


.testimonial-text p:first-of-type,.alumuni-p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
font-style: italic;

}
.testimonial-name{
    font-weight: 600;
    font-size: 18px;
    margin-block: 1rem;
}
.slider-spans-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* margin-block: 1rem 0.7rem; */
   
    list-style: none;
}

.slider-spans-container li{
   
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider-span{
height: 5px;
width: 5px;
background: #B0B6BF;
border-radius: 50%;
}
.slider-spans-container li:hover .slider-span {
    background-color: black;
}

.active-slider-span{
    background: #3B3D40;
}


@keyframes slideright {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes sliderleft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.slide-right {
  animation: slideright 0.5s ease;
}

.slide-left {
  animation: sliderleft 0.5s ease;
}





.dragged {
    user-select: none;
    cursor: grabbing;
}




@media screen and (min-width:769px) {
    .testimonial-container{
         min-height: 250px;
         padding-block: 3rem 2rem;
    }
    .testimonial-text p:first-of-type{
        font-size: 22px;
    }
    .testimonila-name{
    font-size: 20px;
}

}
@media screen and (min-width:1024px) {
    .icon-left,.icon-right{
        display: block;
    }
    .testimonial-text-container{
        padding-inline: 3rem;
    }
   
}